<nav class="navegacion">
  <div class="nav-wrapper">
    <div class="upBar">
      <div class="row hide-on-med-and-down">
        <div class="col s4 m4 l4" style="padding-left: 8%;">
          <i class="material-icons left">
            phone_in_talk
          </i>
          <label for="phone" class="hide-on-med-and-down">+57 320 788 1094</label>
        </div>
        <div class="col s4 m4 l4 mail">
          <i class="material-icons left">
            <a href="mailto:gerencia@activourbano.com.co">mail</a>
          </i>
          <label for="mail" class="hide-on-med-and-down"><a
              href="mailto:gerencia@activourbano.com.co">gerencia@activourbano.com.co</a></label>
        </div>
        <div class="col s4 m4 l4">
          <a href="#" style="font-weight: bold;">Login/Registro</a>
        </div>
      </div>
    </div>

    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Área</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Estrato</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Ubicación</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Habitaciones</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Baños</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Palabras Clave (1)</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Palabras Clave (2)</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="">Inicio</a></li>
  <li><a href="">Tu Sitio Ideal</a></li>
  <li><a href="">Servicios</a></li>
  <li><a href="">Proyectos Nuevos</a></li>
  <li><a href="">Blog</a></li>
  <li><a href="">Equipo</a></li>
  <li><a href="">Contacto</a></li>
  <li><a href="">Tel: +57 320 788 1094</a></li>
  <li><a href="">Mail</a></li>
  <li><a href="">Login/Registro</a></li>
</ul>
