<nav class="navegacion">
  <div class="nav-wrapper">
    <div class="upBar ">
      <div class="row hide-on-med-and-down">
        <div class="col s4 m4 l4">
          <i class="material-icons left">
            phone_in_talk
          </i>
          <label for="phone" class="hide-on-med-and-down">+57 320 788 1094</label>
        </div>
        <div class="col s4 m4 l4" style="margin-left: -50px;">
          <i class="material-icons left">
            <a href="mailto:gerencia@activourbano.com.co">mail</a>
          </i>
          <label for="mail" class="hide-on-med-and-down"><a
              href="mailto:gerencia@activourbano.com.co">gerencia@activourbano.com.co</a></label>
        </div>
        <div class="col s4 m4 l4">
          <a href="#" style="font-weight: bold;">Login/Registro</a>
        </div>
      </div>
    </div>

    <div class="row center-align logoIzquierda" style="align-items: center; margin-bottom: -20px;">
      <div class="col s5 m5 l5">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="row hide-on-med-and-down izquierda" style="margin-left: -5%;">
          <li style="margin-left: 10%;"><a href="">INICIO</a></li>
          <li style="margin-left: 10%;"><a class="dropdown-trigger" href="#conocenos" data-target="conocenos">CONÓCENOS</a>
          </li>
          <li style="margin-left: 10%;"><a class="dropdown-trigger" href="#servicios" data-target="servicios">SERVICIOS</a>
          </li>
        </ul>
      </div>
      <div class="col s1 m1 l1">
        <a href="#">
          <img class="" width="150px" height="150px" src="https://i.ibb.co/k5Y7hXj/logo.png" alt="activoLogo">
        </a>
      </div>
      <div class="col s6 m6 l6" style="padding-right: 60px">
        <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        <ul id="nav-mobile" class="hide-on-med-and-down izquierda">
          <li><a href="">ZONA ACTIVA</a></li>
          <li><a href="">PROYECTOS NUEVOS</a></li>
          <li><a href="">BLOG</a></li>
          <li><a href="">CONTACTO</a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="row center-align" style="align-items: center;">
      <div class="col s12 m12 l12">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down izquierda">
          <li><a href="">INICIO</a></li>
          <li><a class="dropdown-trigger" href="#conocenos" data-target="conocenos">CONÓCENOS</a></li>
          <li><a class="dropdown-trigger" href="#servicios" data-target="servicios">SERVICIOS</a></li>
        
          <li><a href="">ZONA ACTIVA</a></li>
          <li><a href="">PROYECTOS NUEVOS</a></li>
          <li><a href="">BLOG</a></li>
          <li><a href="">CONTACTO</a></li>
        </ul>
      </div>
    </div> -->
  </div>
</nav>

<!-- VISTA MOVIL -->
<ul class="sidenav" id="mobile-demo">
  <li><a href="">Inicio</a></li>
  <li><a href="">Tu Sitio Ideal</a></li>
  <li><a href="">Servicios</a></li>
  <li><a href="">Proyectos Nuevos</a></li>
  <li><a href="">Blog</a></li>
  <li><a href="">Equipo</a></li>
  <li><a href="">Contacto</a></li>
  <li><a href="">Tel: +57 320 788 1094</a></li>
  <li><a href="">Mail</a></li>
  <li><a href="">Login/Registro</a></li>
</ul>

<!--DROPDOWNS-->
<ul id="conocenos" class="dropdown-content letraNegrilla" style="min-width: 200px !important; max-width: auto !important; 
                                                    background-color: rgba(208, 159, 35, 0.60);
                                                    ">
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">VALORES</a></li>
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">¿QUIÉNES SOMOS?</a></li>
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">MISIÓN</a></li>
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">VISIÓN</a></li>
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">PROPÓSITO</a></li>
</ul>

<ul id="servicios" class="dropdown-content" style="min-width: 200px !important; max-width: auto !important; 
                                                    background-color: rgba(208, 159, 35, 0.60);
                                                    ">
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">VENTAS</a></li>
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">ARRENDAMIENTOS</a></li>
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">TRANSFORMACIÓN DE ESPACIOS</a></li>
  <li><a style="color: white; font-size: 14px; font-family: BrandonBold;" href="#!">CONSULTORÍAS Y ENTRENAMIENTOS</a>
  </li>
</ul>


