#tusitioIdeal{
    text-align: center;
    margin-top: 10%;
}

#sliderPrecio {
    width: 90%;
}

#conocenos {
    min-width: 100px !important;
    max-width: auto !important;
}
.custom-slider .ng5-slider .ng5-slider-selection {
    background: rgb(255, 255, 0) !important;
  }

/* #servicios {
    min-width: 400px !important;
    max-width: auto !important;
} */

.range {
    margin-top: 50px;
}

.valores {
    margin-left: 30%;
    margin-top: 10px;
}

.sctValores {
    margin-left: 10%;
}

.btnBuscar {
    width: 250px;
    height: 50px;
    background-image: linear-gradient(to right, #E0D2AF, #D09F23);
    font-family: Brandon;
    border: none;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.whenPressed:focus {
    background-image: linear-gradient(to right, black, #C09842);
    color: white;
    border: 1px solid #D09F23;
}

.carousel {
    height: 500px;
}

.relativo {
    position: relative;
}

.absoluto {
    position: absolute;
    top: 58%;
    right: 1%;
    width: 40%;
    height: 150px;
    background-color: #1B1A1B;
}

.absolute {
    position: absolute;
}

/* .fixed-action-btn {
    right: auto;
    left: 20px;
} */

#blog {
    margin-top: 5%;
}

#contacto {
    margin-top: 10%;
}

#servicios {
    margin-top: 10%;
}

.btnVenta {
    border: 1px solid #CFB379;
    background: transparent;
    font-family: Brandon;
    color: #D09F23;
    height: 25px;
}
.separador{
    width: 30%;
}

.btnArriendo {
    border: 1px solid #CFB379;
    background: transparent;
    font-family: Brandon;
    color: #D09F23;
    height: 25px;
}

.ventasLetras {
    font-size: 12px;
    letter-spacing: 1px;
}

.ventasLetras div, input {
    border: #C09842 solid 1px;
    padding: 10px;
    justify-content: center;
    margin: 35px;
    height: 40px;
}

.ventasLetras input {
    padding: 10px;
    margin-left: 35px;
}

.ventasLetras input::placeholder {
    font-family: Brandon;
    font-size: 14px;
    color: white;
}

.ventasLetras input.palabrasC::placeholder{
    color: white;
    font-size: 10px;
}

.titulosServ {
    font-size: 18px;
    letter-spacing: 2px;
}

.contServ {
    font-size: 12px;
    color: #807F80;
    text-align: justify;
}

.btnUnirme {
    width: 150px;
    height: 40px;
    background: #E1C07D;
    font-family: Brandon;
    border: none;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bolder;
}

.inputUnirme {
    background: #807F80 !important;
    color: #A8A6A8 !important;
    border: none !important;
    height: 40px !important;
}

.inputUnirme::placeholder {
    font-family: Brandon;
}

/* .fondo1 {
    background: url(../../../assets/img/cardhouse2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 50%;
    padding: 10px;
    font-size: 10px;
}

.fondo2 {
    background: url(../../../assets/img/cardhouse2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 50%;
    padding: 10px;
    font-size: 10px;
}

.fondo3 {
    background: url(../../../assets/img/cardhouse2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 50%;
    padding: 10px;
    font-size: 10px;
} */

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: left;
    width: 60%; /* Set the width of the positioned div */
}

.instagram-feed{
    height: 20%;
    width: 20%;
    display: inline-block;
    padding: 5%
}
.card-fondo{
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: bisque;
    -webkit-transition: width 0.3s;
    transition: width 0.3s; 
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    box-shadow: 0px 15px rgba(0, 0, 0, 0.2) inset;
}

/* .card-fondo:hover {
    width: 310px;
    height: 310px;
} */

.card-blog{
    display: inline-block;
    height: 400px;
    width: 80%;
    -webkit-transition: width 0.3s;
    transition: width 0.3s; 
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}

.cdServ {
    display: inline-block;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(#D8C48E, #BEA250 );
}


.cdServ span {
    font-weight: bolder;
    color: black;
}

.cdServ p {
    font-size: 16px;
    color: white;
}

@media (min-width: 500px) {
    div.unirmeIzquierda {
        margin-left: -5% !important;
    }
}

iframe {
    width: 100%;
    height: 400px;
}

.inputContacto {
    border: #D09F23 solid 1px !important;
    color: #A8A6A8 !important;
    background: transparent;
    height: 30px !important;
}

.inputContacto::placeholder {
    font-family: Brandon;
}

.txtContacto {
    border: #D09F23 solid 1px !important;
    color: #A8A6A8 !important;
    height: 100px !important;
}

.zonaActiva{
    height: 400px !important;
    width: 90% !important;
}

.textoZona{
    align-content: center !important;
    align-items: center !important;
    justify-items: center !important;
    justify-content: center !important;
    align-items: center !important;
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: orange !important;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
      font-weight: bold;
      color: orange;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: orange;
    }
  }